html{
  scroll-behavior: smooth;
}

body {
    background-color: #000B29;
}

.img-slider{
  position:relative;
  width:800px;
  height: 500px;
  margin: 10px;
  background: #000B29;
}
.img-slider .slide{
  z-index: 1;
  position:absolute;
  width:100%;
  clip-path: circle(0% at 0 50%);
}
.img-slider .slide.active{
 clip-path: circle(150% at 0 50%);
 transition: 2s;
 transition-property: clip-path;
}
.img-slider .slide img{
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}
.img-slider .slide .info{
  position:absolute;
  top: 0;
  padding: 15px 30px;
}
.img-slider .slide .info h1{
  color:#F8F5F2;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;

}
.img-slider .slide .info p {
  color:#F8F5F2;
  background: rgba(215, 0, 39, 0.1);
  font-size:16px;
  width:60%;
  padding: 10px;
  border-radius: 4px;

}
.img-slider .navigation{
  z-index: 2;
  position:absolute;
  display:flex;
  bottom:30px;
  left:50%;
  transform: translateX(-50%);

}
.img-slider .navigation .btn{
  background: rgba(248, 245, 242, 0.5);
  width: 5px;
  height: 5px;
  margin: 10px;
  border-radius: 100%;
  cursor:pointer;
}


.wrapper{
  width:fit-content;
  margin: 0 auto;

}


h1, h2, h3, h4, h5, h6, p {
    font-family: 'Mate SC', serif;
    color: #F8F5F2;
}

h1{
    font-weight: 600;
    font-size: 32px;
    padding: 20px, 0;
    text-align: center;
}

h2 {
    font-weight: 300;
    font-size: 30px;
    padding: 10px, 0;
    text-align: center;
}


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D70026;
  }

  
  li {
    float: right;
    list-style-type: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #D70026;
  }
  
  .input-container {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* Style the form icons */
  .icon {
    padding: 10px;
    background: #D70026;
    color: #000B29;
    min-width: 50px;
    text-align: center;
  }
  
  /* Style the input fields */
  .input-field {
    width: 100%;
    padding: 10px;
    outline:#D70026;
  }
  
  .input-field:focus {
    border: 2px solid #000B29;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #D70026;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  label{
    color:#D70026;
  }
 
  
    
  
